/*Responsive CSS Footer*/
/*=================================*/

/*Untuk Tablet*/
@media all and (max-width: 1000px) {
	.heading h2 {
		font-size: 24px;
		text-align: justify;
		margin-left: 15px;
	}

	.container {
		text-align: left;
		width: 100%;
	}

	.column h2 {
		font-size: 14px;
	}

	.column h3 {
		font-size: 11px;
		margin-left: 20px;	
	}

	.column img {
		margin-left: 20px;
	}

	.btn {
		font-size: 14px;
	}
}

/*untuk smartphone*/
@media (max-width: 670px) {
	.column {
		text-align: center;
		width: 100%;
	}

	.heading h2{
		font-size: 18px;
		text-align: left;
		margin: 10px 0 0 15px;
	}

	.footer-wrapper {
		height: 500px;
	}

	.column h3{
		text-align: justify;
		margin-left: 20px;
		margin-top: 15px;
	}

	.twitter {
		margin-bottom: 15px;
	}
}
