/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 25px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
    text-align: justify;
		margin-left: 15px;
  }

  .cara {
    width: 50%;
    margin-bottom: 25px;
  }
  
  .about-img img{
    width: 430px;
    height: 242px;
  }
  
  .illustrasi img{
    width: 90px;
    height: 80px;
  }

  .slider {
    width: 525px;
    height: 300px;
  }

  .slider figure img {
    width: 600px;
    height: 300px;
  }

  #left {
    width: 50%;
  }

  #right {
    width: 50%; 
  }  
  
  .container {
		text-align: left;
		width: 100%;
	}

	.column h2 {
		font-size: 14px;
	}

	.column h3 {
		font-size: 11px;
		margin-left: 20px;	
	}

	.column img {
		margin-left: 20px;
	}

  .btn {
		font-size: 14px;
	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .top-wrapper {
    text-align: left;
  }
  
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .btn {
    width: 100%;
  }
  
  .lesson {
    width: 100%;
  }

  .cara {
    width: 100%;
  }

  .ndisor-wrapper {
    height: 800px;
  }

  #left {
    width: 100%;
  }

  #right {
    width: 100%; 
  }
  
  .slider {
    width: 450px;
    height: 250px;
  }

  .slider figure img {
    width: 450px;
    height: 250px;
  }

  .about-img img{
    width: 400px;
    height: 200px;
  }
  
  	.footer-wrapper {
		height: 500px;
	}

	.column h3{
		text-align: justify;
		margin-left: 20px;
		margin-top: 15px;
	}

	.twitter {
		margin-bottom: 15px;
	}
  
  	.column {
		text-align: center;
		width: 100%;
	}
  
  	.heading h2{
		font-size: 18px;
		text-align: left;
		margin: 10px 0 0 15px;
	}
}
