* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Verdana";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 339px 0 128px 0;
  background-image: url(danautoba2.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.5;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.booking {
  background-color: #FDB11C;
}

.btn {
  border: 1px solid #FDB11C;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  transition: 300ms;
}

.btn:hover {
  opacity: 1;
  transform: translateY(-8px);
}

header {
  height: 75px;
  width: 100%;
  background: rgba(8, 8, 41, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  /*width: 124px;*/
  margin: 0 auto;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 12px;
  font-family: "Verdana";
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  color: rgba(253, 177, 28, 1);
  font-weight: bold;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
